@import 'src/styles/variables.scss';

.chart {
    border: 1px solid $dark-gray1;
    margin: 10px;
}

.link {
    fill: none;
    stroke: $lime1;
}
.node {
    :global {
        circle {
            stroke: $gray1;
            stroke-width: 2px;
        }
    }
}

.nodeInternal {
    :global {
        circle {
            fill: $blue5;
        }
    }
}

.nodeLeaf {
    :global {
        circle {
            fill: $orange3;
        }
    }
}
